body {
  margin: 0; /* Supprime les marges par défaut du corps */
  padding: 0; /* Supprime les espacements internes par défaut du corps */
  width: 100%; /* Prend toute la largeur disponible */
  height: 100vh; /* Prend toute la hauteur de la fenêtre visible (viewport height) */
}
